<!-----
import MailchimpCampaigns from '../components/MailchimpCampaigns.astro';
---

<html>
  <head>
    <title>Mailchimp Campaigns List</title>
  </head>
  <body>
    <MailchimpCampaigns />
  </body>
</html> -->


---
// src/pages/index.astro
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout>
  <h1>Welcome to My Website</h1>
  <p>This is the home page content.</p>
</MainLayout>

