---
// src/components/Footer.astro
---
<style>
    footer {
      width: 100%;
      background-color: #333;
      color: white;
      padding: 10px 20px;
      text-align: center;
      position: fixed;
      bottom: 0;
    }
  </style>
  
  <footer>
    <p>&copy; 2024 My Website. All rights reserved.</p>
  </footer>
  